<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alexattia.machinelearning.downloadflashcards</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/alexandreattia/Desktop/Work/Practice/HackerRankChallenge/TwitterParsing/run.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/alexandreattia/Desktop/Work/Practice/HackerRankChallenge/TwitterParsing/output.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/alexandreattia/Desktop/Work/Practice/HackerRankChallenge/TwitterParsing/errors.txt</string>
    <key>StartInterval</key>
    <integer>5400</integer>
<!--     <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict> -->
</dict>
</plist>